<div class="row">
    <div class="col-sd-4 col-md-3 col-ld-3 py-4 text-center">
        <img src="./imatges/Logopetit.jpg" alt="Logo que te escrit Refugi Lobita amb un llop blanc dins la O" width="210" height="180" >
    </div>
    <div class="col-sd-4 col-md-4 col-ld-4 py-5 text-center">
        <h5 class="text-light">Xarxes Socials:</h5>
        <a href="#"><i class="fab fa-facebook fa-2x mx-3"></i></a>
        <a href="#"><i class="fab fa-instagram fa-2x text-warning mx-3"></i></a><br><br>
        <a href="#"><i class="fab fa-twitter fa-2x text-info mx-3"></i></a>
        <a href="#"><i class="fab fa-youtube fa-2x text-danger mx-3"></i></a>
    </div>
    <div class="col-sd-4 col-md-4 col-ld-4 py-5 text-center lila"> 
        <h5 class="text-light mb-3">Contacte:</h5>
        <h6 class="text-light mb-3"><i class="fa-solid fa-phone"></i> 637 34 21 05</h6> 
        <h6 class="text-light mb-3"><i class="fa-solid fa-envelope"></i> refugilobita@gmail.com</h6> 
    </div>
    <div class="links lila"> 
        <a href="/avisLegal.html">Avís legal </a>&nbsp;
        <a href="/politicaPrivacitat.html"> Política de privacitat </a>&nbsp;
        <a href="/cookies.html"> Política de cookies</a>
    </div>
    <div class="row">
        <div class="col-sd-12 col-md-12 col-ld-12 py-2 text-center">
            <p class="text-light py-4 m-0">&copy;Copyright 2024 - IESE Dynamics</p>
        </div>
    </div>
</div>