#secContacte {
  width: 100%;
  max-width: 1100px;
  margin: 0 auto;
}

.form-check-label {
  a {
      background-color: #F2F5FD;
      box-shadow: none;
  }
}

.linia {  
  border: 2px solid #FF887B; 
  margin: 20px 0; 
}

/** CSS Registre.html PASSWWORD**/
.contenidor-pass{
  display: inline-flex;
  border: 2px solid #FF887B;
  border-radius: 10px;
  padding: 10px;
}

