@import url("https://fonts.googleapis.com/css2?family=Gloria+Hallelujah&display=swap");
@import url("https://fonts.googleapis.com/css2?family=Sanchez:ital@0;1&display=swap");
@import url("https://fonts.googleapis.com/css2?family=Oxygen:wght@300;400;700&display=swap");

h1,
h2 {
  font-family: "Gloria Hallelujah", cursive;
  font-weight: 400;
  font-style: normal;
}

body {
  font-family: "Sanchez", serif;
  font-weight: 400;
  font-style: italic;
}

p {
  font-family: "Oxygen", sans-serif;
  font-weight: 400;
  font-style: normal;
}
